
h1 {
    color:white;
    text-align:center;
}

header h3{
    color: white;
    text-align: center;
    font-style: italic;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.105), rgba(0, 0, 0, 0.489)),url('images/server.png');
    text-align: center;
    color:white;
    padding:2rem;
    grid-area: header;
    font-size: larger;
    margin:0;
    border-color:purple;
    border-style:solid;
}

nav {
    list-style:none;
    grid-area:nav;
    margin-bottom: 3rem;
}
nav ul{
    margin:0;
    padding:0
}
nav li {
    display:block;
    padding:0.5rem;
    background-color: rgba(162, 9, 162, 0.926);
    color:white;
    border-color: rgb(125, 3, 125);
    border-style: solid;
}

nav li a {
    text-decoration:none;
    color:white
}

nav li:hover{
    background-color:plum;
}

body {
    background-image: url(images/server.png);
    grid-area: body;
    font-family:'Courier New', Courier, monospace;

}

section {
    grid-area:section;
}

footer {
    color:white;

}

.img-container {
    display:flex;
    justify-content: space-evenly;
    justify-self: center;
    text-align:center;
}

.img1 {
    width:20%;
    height:auto;
    padding:2rem
}

.img2{
    width:50%;
    height:auto;
    padding: 2rem;
}

#backdrop-p {
    background-color:rgba(162, 9, 162, 0.926);
    color:white;
    padding:1rem;
    margin:2rem;
    font-weight: bold;
}

#backdrop-r{
    background-color:rgba(255, 0, 0, 0.815);
    color:white;
    padding:1rem;
    margin:2rem;
    font-weight: bold;
}

.center {
    text-align:center;
    color:white;
}

figcaption {
    color:white;
    text-align:center;
}

@media (min-width:1024px){
    nav ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-evenly;
        margin:auto;
        background-color: rgb(100, 3, 100);
        padding:0.25rem;
    }
    nav li {
        display:block;
        width: 18%;
        border:none;
    }
    
}