.grid-container{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "section"
    "footer";
}

body {
    background-color:black;
    color: white;
    font-size: 18px;
    line-height: 1.6;
  }

header {
    border-color:black;
    border-style:solid;
    color:white;
    font-family:serif ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('images/lacorner.jpg');
    background-position: center;
    padding: 40px;
    text-align: center;
    grid-area:header;
}
section{
  background-color: rgb(223, 195, 159);
  border-style:solid;
  border-color:black;
  margin-top:1rem;
  color:white;
  padding:1rem;
  grid-area:section;
}
nav {
  list-style:none;
  grid-area:nav;
}
nav ul{
  margin:0;
  padding:0
}
nav li {
  display:block;
  padding:0.5rem;
  background-color: rgb(210, 145, 60);
  color:white;
  border-color: black;
  border-style: solid;
}

nav li a {
  text-decoration:none;
  display:block;
  color:white;
}

nav li:hover{
  background-color:brown;
}

nav li::before{
  background-image:none;
}

li {
  position: relative;
  color:white
}

li::before {
  content: "";
  position:absolute;
  left: -2rem; 
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('images/labullet.jpg');
  background-size: contain;
  color:white
}

figcaption {
  font-size: small;
}

footer{
  border-color:black;
  border-style:solid;
  color:white;
  font-family:serif ;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('images/lacorner.jpg');
  margin-top:1rem;
  background-position: center;
  padding: 40px;
  text-align: center;
  grid-area: footer;
}
.image{
  max-width:90%;
  height:auto;
  border: 1rem;
  border-color:rgb(210, 145, 60);
  border-style:solid;
}

.i{
  font-style: italic;
}


@media (min-width: 768px){
  nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: rgb(210, 145, 60);
    padding:0.5rem;
    border-color:black;
    border-style:solid;
    

}
nav li{
    display:block;
    padding-left: 2rem;
    padding-right:2rem;
    border:none;
}
  body{
    font-size: 20px;
    padding: 10px 20px;
  }
  button {
    padding 15px 30px;
    font-size: 20px;
  }
  .grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "nav nav"
      "section section"
      "footer footer";
  }
}

@media (min-width:1024px){
  nav{
    background-color: rgb(210, 145, 60);
}
nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin:auto;
}
  body{
    font-size: 22px;
  }
  .grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "header header header"
      "nav nav nav"
      "section section section"
      "footer footer footer";
  }
}