.feedback {
  color: red;
  display:contents;
}

.valid-feedback {
  color: green;
  display: contents; 
}

#registrationForm {
  display:flex;
  flex-direction: column;
  padding:1rem;
}

@media (min-width:1024px) {
  
  #registrationForm {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    
  }
  input {
    width:85%;
  }
  label {
    width:10%
  }
 
}