.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "body"
        "footer";
}
header {
    grid-area: header;
    background-color: bisque;
    border-color:black;
    border-style:solid;
    text-align: center;
}

nav {
    list-style:none;
    grid-area:nav;
}
nav ul{
    margin:0;
    padding:0
}
nav li {
    display:block;
    padding:0.5rem;
    background-color: tan;
    color:white;
    border-color: white;
    border-style: solid;
}

nav li a {
    text-decoration:none;
    display:block;
    color:white;
}

nav li:hover{
    background-color:brown;
}

body{
    grid-area: body ;
}

section{

    padding:1rem
}
img {
    width:100%;
    height:auto;
}

.gallery-container{
    display:flex;
    flex-wrap:wrap;
    gap:0.5rem;

}

footer{
    grid-area:footer;
    background-color: bisque;
    border-color:black;
    border-style:solid;
}

@media (min-width:768px) {
    nav ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-evenly;
        background-color: black;
        padding:0.5rem;
        

    }
    nav li{
        display:block;
        padding-left: 2rem;
        padding-right:2rem
    }
    
    body {
        font-size:18px;
        margin:1rem;
    }
    img {
        width:45%;
        height:auto;
    }
    
}

@media (min-width:1024px) {
    nav{
        background-color: tan;
    }
    nav ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-evenly;
        margin:auto;
    }
    body {
        font-size:20px;
        margin:2rem;
    }
    
    img{
        width:30%;
        height:auto;
    }
}