/*fixed background-color and font*/
body {
  background-color: forestgreen;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*fixed "gold" typo and "padding" typo*/
header {
  background-color: Gold;
  color: #004d00;
  text-align: center;
  font-size: 2em;
  padding: 20px;
  margin: 0;
}

/*added px to 0 in padding*/
.nav {
  background-color: black;
  width: 100%;
  margin: 0px;
  padding: 0px 5px;
  position: sticky;
  top: 0px;
}

/*fixed border color*/
nav li {
  display: inline;
  border-right: 1px;
  border-style: solid;
  border-color: grey;
}

nav li:last-child {
  border-right: none;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  padding: 14px 16px;
}

/*got rid of ::*/
nav a:hover {
  background-color: gold;
  color: #2e1a1a;
}

/*fixed px on margin*/
main {
  background-color: lightgreen;
  margin: 50px 100px;
  padding: 50px;
}

/*fixed border elements and fixed height to auto*/
.garden {
  border: 5px ;
  border-style: solid;
  border-color:brown;
  border-radius: 30px;
  box-shadow: 5px 5px 15px grey;
  height: auto;
  width: 30%;
}

/*fixed margin-top*/
section {
  margin-top: 30px;
}

h2 {
  color: brown;
}

footer {
  background-color: #2e1a1a;
  opacity: 0.9;
  padding: 30px 50px;
  color: gold;
  text-align: center;
}