.grid-container {
    display:grid;
    gap:1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "grid-item1 grid-item1 grid-item2"
    "grid-item3 grid-item4 grid-item4"
    "footer footer footer";
}

.grid-item1 {
    background-color:plum;
    border-style:solid;
    border-color:black;
    padding:2rem;
    color:white;
    grid-area: grid-item1;
}

.grid-item2 {
    background-color:blueviolet;
    border-style:solid;
    border-color:black;
    padding:2rem;
    color:white;
    grid-area: grid-item2;
}

.grid-item3 {
    background-color:magenta;
    border-style:solid;
    border-color:black;
    padding:2rem;
    color:white;
    grid-area: grid-item3;
}

.grid-item4 {
    background-color:violet;
    border-style:solid;
    border-color:black;
    padding:2rem;
    color:white;
    grid-area: grid-item4;
}

footer {
    grid-area:footer;
    background-color: lightpink;
    color:white;
    padding:1rem
}

header {
    grid-area:header;
    background-color: lightpink;
    color:white;
    padding:2rem
}