* {
    margin:0;
    padding:0;
}

h1 {
    color:white;
    text-align:center;
}

header h3{
    color: white;
    text-align: center;
    font-style: italic;
}

header {
    background-image: url('../images/server.png');
    text-align: center;
    color:white;
    padding:3rem;
    grid-area: header;
    font-size: larger;
    margin:0;
    border-color:rgb(32, 123, 234);
    border-style:solid;
    border-width: 0.75rem;
    border-bottom:0;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}

ul{
    padding:1rem;
    margin-bottom: 2rem;
    color:white;
}

ul li a{
    color:white;
    list-style-type: none;
    font-size: smaller;
}

nav {
    list-style:none;
    grid-area:nav;
    margin-bottom: 3rem;
}
nav ul{
    margin:0;
    padding:0
}
nav li {
    display:block;
    padding:0.5rem;
    background-color: rgb(91, 156, 235);
    color:white;
    border-color: rgb(32, 123, 234);
    border-style: solid;
}

nav li a {
    text-decoration:none;
    color:white
}

nav li:hover{
    background-color:rgb(225, 124, 124);
    color:black;
}

#gamegrid {
    max-width: 100vw;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "footer";

}
body {

    background-image: url(../images/server.png);
    font-family:'Courier New', Courier, monospace;

}

section {
    grid-area:section;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.456), rgba(0, 0, 0, 0.739)),url('images/server.png');
    color:white;
    padding:1rem;
    grid-area: footer;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}

.img-container {
    align-items: baseline;
    justify-content: space-evenly;
    justify-self: center;
    text-align:center;
}

.img1 {
    width:8rem;
    height:auto;
    padding:2rem
}

.img2{
    width:50%;
    height:auto;
    padding: 2rem;
}

.img3{
    width:95%;
    height:auto;
}

#backdrop-p {
    background-color:rgba(91, 156, 235, 0.778);
    color:white;
    padding:1rem;
    margin:2rem;
    font-weight: bold;
}

#backdrop-r{
    background-color:rgba(255, 0, 0, 0.815);
    color:white;
    padding:1rem;
    margin:2rem;
    font-weight: bold;
}

.center {
    text-align:center;
    color:white;
}

figcaption {
    color:white;
    text-align:center;
}

canvas {
    margin:auto;
}
@media (min-width:764px){
    nav ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-evenly;
        margin:auto;
        background-color: rgb(32, 123, 234);
        padding:0.25rem;
    }
    nav li {
        display:block;
        width: 18%;
        border:none;
    }
    .img-container {
        display:flex;
        justify-content: space-evenly;
        justify-self: center;
        text-align:center;
        flex-wrap:wrap;
    }

}

@media (min-width:1024px){
    nav ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-evenly;
        margin:auto;
        background-color: rgb(32, 123, 234);
        padding:0.25rem;
    }
    nav li {
        display:block;
        width: 18%;
        border:none;
    }
    
}