p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    font-size: 18px;
    line-height: 1.6;
}
section {
        background-color:rgb(244, 190, 89);
        border:10px;
        padding:10px;
}
.bold {
        font-weight:bold;
}
.darkback {
            background-color:rgb(198, 129, 2);
            color:white;
            border:10px;
            padding:10px
}
.brown {
        color:brown;
}
.shadow{
         box-shadow: 5px 5px 15px gray;
}
#mainheader {
            font-weight:bold;
            color:white; 
            text-align:center;
            border:10px;
            padding:10px
}
#fullpage {
            background-color: gainsboro;
             justify-content: center;
             padding: 20px; 
             border:20px
} 
@media (min-width: 768px){
    body{
      font-size: 20px;
      padding: 10px 20px;
    }
    button {
      padding 15px 30px;
      font-size: 20px;
    }
    image{
        size-adjust:;
    }
    header{
        font-size:30px;
    }
  }
  
@media (min-width:1024px){
    body {
        font-size: 24px;
    }
    button {
        font-size:24px;
    }
    header{
        font-size:35px;
    }
  }