p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

section {
        background-color: rgb(244, 190, 89);
        padding:1rem;
        margin:1rem
    }
    
.bold {
        font-weight: bold;
    }
    
.darkback {
        background-color: rgb(198, 129, 2);
        color: white;
        padding:1rem
    }

#mainheader {
        font-weight: bold;
        color: white;
        text-align: center;
    }

#fullpage {
        background-color: gainsboro;
        justify-content: center;
        padding:2rem
    }

img {
        width: 100%;
        height: auto;
    }
.topmarg{
        top-margin:1rem
}

footer{
        background-color: rgb(244, 190, 89);
        padding:1rem;
        margin:1rem
    }
    